/* You can add global styles to this file, and also import other style files */
div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

div
{
  color:#800080;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img
{
  width:100px;
  margin:2px;
}

table,td,tr, th
{
  border: 1px solid black;
}